extends layout

block content
    title='SCA - Pick up list'
    div(class='text-center center-div')
        div(class='container border  py-3')
            if pickups != ''
                h2 Pickups
            else
                h2 No Pickups
            if(locals.confirmation)
                div(class='alert alert-success text-center')
                    =locals.confirmation
            table(style='width:100%')
                th Date
                th Address
                th Region
                th Picture
                if(driver)
                    th Driver
                th Status
                th Select order
                for pickup in pickups
                    tr
                        td= pickup.date
                        td= pickup.address
                        td= pickup.region
                        td
                            img(src='/images/'+pickup.url class='w-50 h-25')
                        if(pickup.driver)
                            td=pickup.driver
                        td=pickup.status
                        td
                            form(action='' method='POST' id='select' name='select')
                                div(class = 'form-group')
                                    if(pickup.status !== 'confirmed')
                                        button.btn.btn-primary(type = 'submit', name='id', value = pickup._id, form='select')
                                            if(pickup.status === 'requested')
                                                p Accept
                                            else
                                                p Confirm pickup
            //(type='submit', form='select') Submit
            input(type='button' onclick='window.print()' value='Print')
