extends layout

block content
    div(class='text-center center-div')
        div(class='container border  py-4')
            if pickups != null
                h2 Pickups
            else
                h2 No Pickups
            if(confirmation == 'Pickup selected')
                p Pickup selected
            table(style='width:100%')
                th Date
                th Address
                th Region
                th Picture
                th Status
                th Select order
                for pickup in pickups
                    tr
                        td= pickup.date
                        td= pickup.address
                        td= pickup.region
                        td
                            img(src='/images/'+pickup.url class='w-25 h-25')
                        td=pickup.driver
                        td=pickup.status
                        td
                            input(type = 'checkbox', name='selectedOrder', value = pickup.url, form='select')
            //button.btn.btn-primary(type='submit', form='select') Submit
            input(type='button' onclick='window.print()' value='Print')